<%= render "/layouts/landing"%>
<div class="page-header" data-parallax="true" style="background-image: url('https://wonderfulengineering.');">
 <div class="container">
   <div class="row">
     <div class="col-10">
         <h2 style="margin: 0;"> Venues bookings</h2>
     </div>
   </div>
    <div style = "position:relative; height:400px; overflow:auto; display:block;">
      <table class="table table-bordered table-striped md-0 table-hover table-dark">
       <thead>
         <tr>
           <th>booking_id</th>
           <th>User name</th> 
           <th>No_of_people</th> 
           <th>Venues</th>
           <th> action</th>
          </tr>
       </thead>
       <tbody>
         <% @booking.each_with_index do |q|%> 
           <tr>
             <td><%= q.id%></td>
             <td><%= q.user.name%></td>
             <td><%= q.group%></td>
             <td><%= q.venue.name%></td>

             <td style="padding:0px;"><a class="btn btn-success float-right btn-sm" href="/venue_owner/venues/<%= q.id%>/edit"> Edit </a></td>
             <td><%= link_to 'destroy', venue_owner_venue_path(q), method: :delete, data: { confirm: 'Are you sure?' }%> </td>
           </tr>
         <%end%>   
       </tbody>
      </table>
    </div>
  </div>
</div>