<%= render "/layouts/landing"%>
<div class="page-header" data-parallax="true" style="background-image: url('https://wonderfulengineering.');">
 <div class="container">
   <div class="row">
     <div class="col-10">
         <h2 style="margin: 0;"> Venues bookings</h2>
     </div>
   </div>
    <div style = "position:relative; height:400px; overflow:auto; display:block;">
      <table class="table table-bordered table-striped md-0 table-hover table-dark">
       <thead>
         <tr>
           <th>Booking Id</th>
           <th>Customer Id</th>
           <th>Customer Name</th> 
           <th>No of People</th> 
           <th>Venue Owner Id</th>
           <%# <th>venue_owner_email</th> %>
           <th>Venues</th>
           <th> Action</th>
          </tr>
       </thead>
       <tbody>
         <% @booking.each_with_index do |q|%> 
           <tr>
             <td><%= q.id%></td>
             <td><%= q.user.id%>
             <td><%= q.user.name%></td>
             <td><%= q.group%></td>           
             <td><%= q.venue.user.id%>
             <td><%= q.venue.name%></td>
             <td style="padding:0px;"><a class="btn btn-success float-right btn-sm mt-3 mr-2" href="/venue_owner/venues/<%= q.id%>/edit"> Edit </a></td>
             <td><%= link_to 'destroy', venue_owner_booking_path(q), method: :delete, class: "btn btn-success float-right btn-sm" ,data: { confirm: 'Are you sure?' }%> </td>
             <td><%= link_to 'Approve', approve_venue_owner_booking_path(q), class: "btn btn-success float-right btn-sm" ,data:{confirm: 'Are you sure?'}%></td>
           </tr>
         <%end%>   
       </tbody>
      </table>
    </div>
  </div>
</div>