<%= render partial: "layouts/navbar" %>

<div class="container">
  <a class="btn btn-success float-right" href="/venue_owner/new"> Create venue Owner </a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> #  </th>
        <th>ID</th>
        <th>Name</th>
        <th>contact_no</th>
      </tr>
    </thead>
    <tbody>
    <% @venue_owners.each_with_index do |q  ,i|%> 
        <tr>
            <td> <%= i%> </td>
            <td> <%= q.id%> </td>
            <td> <%= q.name%> </td>
            <td>  <%= q.contact_no%></td>
        </tr>
    <%end%>   
    </tbody>
  </table>
</div>