<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>corporative event affairs</title>
    <!-- Favicon -->
    <link rel="assets" href="/img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/assets/booking/style.css">
</head>

<body>
 <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="palatin-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="palatinNav">

                        <!-- Nav brand -->
                        <%# <a href="index.html" class="btn palatin-btn">Corperative Event Affairs </a> %>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                            <div class = "classy-menu" >
                              <!-- Nav Start -->
                             <div class="classynav" >
                               <!-- Search form -->
                               <form method ="post" action='/customers/bookings/search'  class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
                                 <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                 aria-label="Search" name="search">
                                </form>                           
                             </div>   
                            </div>
                              <a href=<%= customers_bookings_path(@booking)%> class="btn palatin-btn">see bookings</a>
                            <!-- Nav End -->
                         </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="rooms-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center ">
                        <h2>Choose a Venue</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                            sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                    </div>
                </div>       
            </div>

            <div class="row justify-content-center">
               <% @venues.each_with_index do |v|%> 
                 <!-- Mariage Palace Area -->
                 <%if v.venue_type == "Hotel"%>
                     <div class="col-12 col-md-6 col-lg-4">
							<div class="single-rooms-area wow fadeInUp" data-wow-delay="500ms">
                                <!-- Thumbnail -->
                                <div class="bg-thumbnail bg-img" style="background-image: url(/assets/bg-img/17.jpg);"></div>
                                <!-- Price -->
                                <p class="price-from">From $50/person</p>
                                <div class="rooms-text">
                                        <div class="line"></div>
                                        <h4><%= v.name%></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
                                                mauris sceleri sque.</p>
                                </div>
                                <!-- Registerd Mariage Palace -->
                                <a href= <%= new_customers_bookings_path(venue_id: v.id)%> class="book-room-btn btn palatin-btn">Book Now</a>
							 </div>
					 </div>

                   <%elsif v.venue_type == "Mariage Palace"%>
                   <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-rooms-area wow fadeInUp" data-wow-delay="500ms">
                            <!-- Thumbnail -->
                            <div class="bg-thumbnail bg-img" style="background-image: url(/assets/bg-img/42.jpg);"></div>
                            <!-- Price -->
                            <p class="price-from">From $70/person</p>
                            <div class="rooms-text">
                                    <div class="line"></div>
                                    <h4><%= v.name%></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
                                            mauris sceleri sque.</p>
                            </div>
                            <!-- Registerd Mariage Palace -->
                            <a href= <%= new_customers_bookings_path(venue_id: v.id)%> class="book-room-btn btn palatin-btn">Book Now</a>
                        </div>
					 </div>
                     
					 <%else v.venue_type == "Resturant"%>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-rooms-area wow fadeInUp" data-wow-delay="500ms">
                                    <!-- Thumbnail -->
                                    <div class="bg-thumbnail bg-img" style="background-image: url(/assets/bg-img/36.jpg);"></div>
                                    <!-- Price -->
                                    <p class="price-from">From $40/person</p>
                                    <div class="rooms-text">
                                            <div class="line"></div>
                                            <h4><%= v.name%></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
                                                    mauris sceleri sque.</p>
                                    </div>
                                    <!-- Registerd resturants -->
                                    <a href= <%= new_customers_bookings_path(venue_id: v.id)%> class="book-room-btn btn palatin-btn">Book Now</a>
                                </div>
							</div>
                  <%end%>   
                <%end%>
            </div>
        </div>
    </section>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-lg-5">
                    <div class="footer-widget-area mt-50">
                        <a href="#" class="d-block mb-5"><img src="/assets/core-img/logo.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                            sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus
                            finibus. </p>
                    </div>
                </div>

                
                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-widget-area mt-50">
                        <h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
                        <form action="#" method="post" class="subscribe-form">
                            <input type="email" name="subscribe-email" id="subscribeemail" placeholder="Your E-mail">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/assets/js/booking_js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/assets/js/booking_js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/assets/js/booking_js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/assets/js/booking_js/plugins.js"></script>
    <!-- Active js -->
    <script src="/assets/js/booking_js/active.js"></script>
</body>

</html>