<%= render partial: "layouts/navbar" %>
<div class="container">
      <div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">customer</h3>
      </div>
      <div class="panel-body">
       <%= form_with model:@customers do |f| %>
            name: <%= f.text_field  :name %><br/><br/>
            email: <%= f.text_field :email %><br/><br/>
            phone : <%= f.text_field :phone %><br /><br/>
            <%= f.submit "Create" %>
        <% end %>
         

        <%# <form action="/customer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="occgXkyY992tlNiu30tfQwukwI9fnz21R78LDQz2JtNuLWtygJMthYLepyOhbMwpXK7N4C9KIj9NJft/LV1Hjg==">
            <div class="form-group">
                <label for="client_name">name</label>
                <input class="form-control" type="text" name="client[name]">
            </div>

            <div class="form-group">
                <label for="client_email">email</label>
                <input class="form-control" type="text" name="client[email]">
            </div>
            <div class = "form-group">
                <label for = "client_phone"> phone </label>
                <input  class = "form-control" type = "text" name = "client[[phone]">
            </div>

            <div class="form-group">
                <input type="submit" name="commit" value="Create Client" class="btn btn-lg btn-primary" data-disable-with="Create Client">
            </div>
            
        </form> %>
      </div>
    </div>
  </div>
</div>
</div>