<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<form>
  <div class="form-row">
    <div class="form-group col-md-6 ">
       <%= form.label :name %>
       <%= form.text_field :name, required: true, class: 'form-control' %>
    </div>
    
    <div class="form-group col-md-6 ">
      <%= form.label :Details %>
     <%= form.text_field :details, required: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group  col-md-6">
    <%= form.label :Location %>
    <%= form.text_field :location, required: true, class: 'form-control' %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 ">
      <%= form.label :group %>
      <%= form.text_field :group, required: true, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6 ">
      <%= form.label :date %>
    <%= form.date_select :date , class: 'form-control'  %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-lg btn-primary' %>
  </div>
</form> 
 
<% end %>