<div class="page-header" data-parallax="true" style="background-image: url('https://wonderfulengineering.');">
 <div class="container">
   <%= render "/layouts/landing"%>
   <div class="row">
     <div class="col-10">
       <h2 style="margin: 0;">Bookings</h2>
     </div>
   </div>
    <div  style = "position:relative; height:400px; overflow:auto; display:block;">
      <table class="table table-bordered table-striped md-0 table-hover table-dark">
       <thead>
         <tr>
             <th>#</th>
             <th>Customer Id</th>
             <th>Customer Name</th> 
             <th>Venue Name</th>
             <th>Venue Owner ID</th>
             <th>Updated At</th>
             <th>Created At</th>
             <th>Status</th>
          </tr>
       </thead>
       <tbody >
         <% @bookings.each_with_index do |q|%> 
           <tr>
             <td><%= q.id%></td>    
             <td><%= q.user.id%></td>
             <td><%= q.user.name%></td>
             <td><%= q.venue.name%></td>
             <td><%=q.venue.user.id%></td>
             <td><%=q.updated_at%></td>
             <td><%=q.created_at%></td>
             <td><%= link_to 'Cancel' ,customers_booking_path(q), class: "btn btn-success" ,method: :delete, data: { confirm: 'Are you sure?' }%> </td>
           </tr>
         <%end%>   
       </tbody>
      </table>
    </div>
  </div>
</div>