<%= render partial: "layouts/navbar" %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> # </th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% @customers.each_with_index do |t  ,i|%> 
        <tr>
            <td> <%= i%> </td>
            <td> <%= t.id%> </td>
            <td> <%= t.name%> </td>
            <td>  <%= t.email%></td>
        </tr>
        
    <%end%>   
    </tbody>
  </table>
</div>