<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Corporative event affairs</a>
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_url %>" style="padding:10px;">
        <img src="/images/events1.jpeg" style="height:50px;">
        </a>
      </div>
       <div id="navbar" class="navbar-collapse collapse">  
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href = "<%= root_url %>">Home <span class="sr-only">(current)</span></a>
              </li>
               <% if user_signed_in? %>
                  <%if current_user.role == :venue_owner%> 
                    <li><%= link_to 'customers', "/customers",  class: "btn btn-success" %></li>
                  <%else%>
                    <li><%= link_to 'customers', "/customers",  class: "btn btn-success" %></li>
                  <%end%>
                      
                  <li><%= link_to 'venue_owner','/venue_owner', class: "btn btn-success" %></li>
            
                  <li class="nav-item active">
                    <a class="nav-link" href="/booking/index">booking <span class="sr-only">(current)</span></a>
                  </li>
               <% end %>
           </ul>
            <ul class="nav navbar-nav navbar-right">
              
              <% if user_signed_in? %>
              
                <li><a><%= current_user.name %></a></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

              <% else %>

                <li><%= link_to 'Login', new_user_session_path %></li>

              <% end %>
            </ul>    
      </div>
   </div>
</nav>