<!DOCTYPE html>
<html>
  <head>
    <title>Corporative event Affairs</title>
    <%= csrf_meta_tags %>

    
  </head>

  <body>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%# <%= render 'layouts/alert' %>
    <%# <%= render 'layouts/wrapper'%>
    <%= yield %>
  </body>
</html>
